@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');

html {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #383E4B;
}

body {
    margin:auto;
}
header {
    text-align:center;
    background: #ffeeaa;
    margin:auto;
    width:100%;
}
header img {
    max-width:300px;
    margin:auto;
    display:block;
}
header nav {
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
main {
    max-width:950px;
    margin:auto;
}

a {
    color:#0099d1;
    text-decoration:none;
}
img {
	max-width: 100%;
	height: auto;
	border:0;
	vertical-align: middle;
}
.social {
    font-size:3em;
    margin:1em;
    color:#000;
}
.social-footer {
    font-size:1em;
    margin:1em;
    color:#000;
}
