<!doctype html>
<html lang="fr">
	<head>
		<title></title>
		<link rel="stylesheet" href="../assets/style.css"/>

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	</head>
	<body>
		<header id="header" class="h-card">
            <img src="../assets/logo.png" alt="logo"/>
            <nav>
                <a href="https://twitter.com/reclus_confins" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="https://www.twitch.tv/confins/videos" class="social"><i class="fa fa-twitch" aria-hidden="true"></i></a>
				<a href="https://discord.gg/cCN2UAUJ" class="social"><i class="fa fa-discord" aria-hidden="true"></i></a>
				<a href="" class="social"><i class="fa fa-envelope" aria-hidden="true"></i></a>
				<a href="https://github.com/reclusauxconfins" class="social"><i class="fa fa-github" aria-hidden="true"></i></a>
            </nav>
		</header>
		<main id="main">
		    {{ content }}
		</main>
		<footer>
		</footer>
	</body>
</html>
